@import url('https://rsms.me/inter/inter-ui.css');

body {
    font-family: "Inter UI";
}


.letter {
    background-color: white;
    border: 1px solid grey;
    float: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    height: 32px;
    width: 32px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.letter-button {
    float: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    height: 32px;
    width: 32px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align:center;
    outline: none;
}

.found {
    color: green;
}

.missed {
    color: red;
}